<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 * SPDX-License-Identifer: Apache-2.0
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:androidprv="http://schemas.android.com/apk/prv/res/android"
        package="com.android.systemui"
        android:sharedUserId="android.uid.systemui"
        xmlns:tools="http://schemas.android.com/tools"
        coreApp="true">

    <application>
        <provider android:name=".keyguard.KeyguardSliceProvider"
            tools:node="remove" />

        <provider android:name="com.snuggles.android.systemui.keyguard.KeyguardSliceProviderSnuggles"
            android:enabled="true"
            android:exported="true"
            android:authorities="com.android.systemui.keyguard"/>

    </application>

</manifest>
